.footer-container {
    background-color: #00008B;
    color: #fff;
    padding: 40px 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-section {
    width: 30%;
  }
  
  .footer-section h3 {
    margin-bottom: 10px;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
  }
  
  .footer-section a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 400;
  }

  .footer-section a:hover{
     color: #333;
  }